#u235-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u237-4,#u236-4,#u576-4,#u238-4,#u239-4
{
	position: fixed;
}

#u237-4_img,#u236-4_img,#u576-4_img,#u238-4_img,#u239-4_img
{
	display: block;
	vertical-align: top;
}

